#submit{
    background-color: #4CAF50;
    color: white;
    cursor: pointer; border-radius: 5px;
 
  }

body{
    background-color: rgb(209, 233, 236);
  }
  p {
    color:rgb(8, 15, 121);
  }
  h4{
    color: rgb(42, 13, 206);
  }

label{
    cursor: pointer;  color: rgb(8, 15, 121);
  
}

form input{
    color: rgb(8, 8, 19); border-radius: 5px;
}



#First{
    margin-left: 0.9px; margin-bottom: 2px;
}

#Email{
    margin-left: 76px;
}

#Email2{
    margin-left: 52px;
}

#password{
    margin-left: 54px;
}

#iam{
    margin-left: 62px;cursor: pointer;
}

#day{
    margin-left: 30px;
}

#h5{
    margin-left: 180px; 

}


#submit{
    margin-left: 156px;
    margin-bottom:50px;
    padding: 3px 20px;
    margin-top: 0px;
}

form input{
   margin-left:  00px; padding-top: 6px; padding-right: 80px;
}

#Last{
    margin-bottom: 2px; margin-left: 1.5px;
}

#Email{
  margin-left: -2px;  margin-bottom: 2px;
}


#Email2{
   margin-left: -3px; margin-bottom: 2px;
}


#password{
 margin-left: -1px;   margin-bottom: 2px;
}

#a{
    margin-left: 18px;
}

#b{
    margin-left: -8px;
}