

/* input{
margin-left: 40px; align-items: center;
margin-top: 5px;
} */
#Address{
    margin-left: 78px;
}

#Last{
   margin-left: 100px;
}

#Last1{
    margin-left: 102px;
}

#City{
    margin-left: 144px;
}

#State{
    margin-left: 139px; 
}

#Zip{
    margin-left: 148px;
}
#photo{
margin-left: 83px;
}

#Mail{
    margin-left: 127px;   
}

#Mobile{
    margin-left: 126px;   
}

#box{
    margin-left: 180px;   
}

#box1{
    margin-left: 56px;   
}

#Add{
    margin-left: 26px; 
    margin: bottom 50px; ;
}

#Submit{
    margin-left: 180px;
}

#radio{
    margin-left: 180px;
}
